*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content {
  display: grid;
  grid-template-areas: "result details";
  grid-template-rows: 1fr;
  align-items: end;
  max-width: 1140px;
  gap: 40px; 
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 2px;
}

.content__list-item,
.content__card-link {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail__container {
  width: 194px;
  height: 103px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: 0;
}


.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 5px;
  opacity: 0.7;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  padding-left: 0;
  font-size: 18px;
  font-weight: regular;
  font-family: "Fira Sans Condensed";
  min-width: 230px;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
  outline: none;
  color: #FFFFFF;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-within) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.content__details h1 {
  margin-bottom: 26px;
  font-size: 75px;
  font-weight: Bold;
  font-style: normal;
  line-height: 94%;
  font-family: 'Oswald';
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  width: 399px;
  overflow-y: auto;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
}

.content__video-card-title {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Oswald';
  font-weight: Bold;
  font-size: 30px;
  max-width: 190px;
}

.content__video-card-description-container {
  font-size: 18px;
  font-weight: Regular;
  font-family: 'Fira Sans Condensed';
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.22;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}


.button {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: Bold;
  font-size: 18px;
  padding: 0;
  font-family: "Fira Sans Condensed";
  font-weight: regular;
  opacity: 0.8;
  height: 34px;
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-within {
  outline: 1px solid white;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 20px;
}

.content__card-link_current .content__video-card {
  background: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
